{{! Single capability pillar — used in homepage and services page }}
<article class="mrc-service-card">
  {{#if title}}
    <h3 class="mrc-service-card-title">{{title}}</h3>
  {{/if}}
  {{#if description}}
    <p class="mrc-service-card-desc">{{description}}</p>
  {{/if}}
  {{#if link_url}}
    <a href="{{link_url}}" class="mrc-service-card-link">{{#if title}}Learn more about {{title}}{{else}}Learn more about this service{{/if}}</a>
  {{/if}}
</article>
